/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

.background--skyBlue {
  background-color: rgb(52, 152, 219);
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cardo', serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

/*
  Helpers
*/

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}


/*
  Sections
*/
.section-head {
  font-size: 3.8rem;
  min-height: 30vh;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* background: url(sweettexture.jpg); */
}
.section {
  font-size: 3.6rem;
  min-height: 12vh;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.section--alignCentered {
  text-align: center;
}

.section--description {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 20rem;
  width: 20rem;
}

.section__exampleWrapper {
  margin-right: 4rem;
}

.section__example {
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.section__example:hover {
  transition: 0.05s all;
  width: 24rem;
  height: 24rem;
}

.section__exampleTitle{
  font-size: 4rem;
  text-align: center;
  width: 90%;
}

.section__exampleImage {
  opacity: 0.50;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}

/*
  Header
*/

.section__heading--largest {
  float: left;
  font-size: 4rem;
  margin-left: 2rem;
}

.section--social {
  float: right;
  line-height: 10rem;
  margin-right: 2rem;
}

.social {
  margin-right: 0.75rem;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 3rem;
}

.nobullet {
  list-style-type: none;
}

button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #4CAF50;
  color: green;
  border-radius: 4%;
}
button:hover {
  background-color: #4CAF50;
  color: white;
}
button > a {
  text-decoration: none;
  color: black;
}